body{
    padding: 0;
    margin: 0;
    background-color: #110B0F;
}

.container{
    width: 80%;
    margin: 0 auto;
}

::-webkit-scrollbar{
    width: 0;
}

#scrollpath{
    position: fixed;
    top: 0;
    right: 0;
    width: 6px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 6px;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(to top, #ff0000, #db6f6b);
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0%, 100%{
        filter: hue-rotate(0deg);
    }

    100%{
        filter: hue-rotate(360deg);
    }
}

#progressbar:before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ff0000, #db6f6b);
    filter: blur(8px);
}

#progressbar:after{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ff0000, #db6f6b);
    filter: blur(20px);
}

                        /* Tela cadastro */

.fundo{
    background-color: #ffffff9e;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    float: right;
    text-align: center;
    margin: -500px auto;
    padding: 50px 20px;
    font-family: 'Cormorant Infant', serif;
    font-size: 70px;
}

.input{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 20px 0;
}

.input input[type=text]{
    width: 300px;
    height: 40px;
    margin: 10px 0;
    border-radius: 5px;
    color: black;
    border: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }
  
.input2 input{
    background-color: #DECF93;
}

  input[type=text]:focus {
    border: 2px solid #DECF93;
  }

  .input input[type=password]{
    width: 300px;
    height: 40px;
    margin: 10px 0;
    border-radius: 5px;
    color: black;
    border: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
  }

  input[type=password]:focus {
    border: 2px solid #DECF93;
  }

.btn{
    display: flex;
    justify-content: space-evenly;
}

.btn button{
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    opacity: 0.6;
    transition: 0.3s;
}

.btn2 button{
    background-color: #F2C634A1;
}

button:hover {opacity: 1}


.modal-overlay {
    width: 100%;
    height: 100%;
  
    background-color: rgba(0,0,0,0.7);
  
    position: fixed;
    top: 0;
  
    display:flex;
    align-items: center;
    justify-content: center;
  
    opacity: 0;
    visibility: hidden;
  
    z-index: 999;
  }
  
  .modal-overlay.active {
    opacity: 1;
    visibility: visible;
  }
  
  .modal {
    background: #f0f2f5ef;
    padding: 2.4rem;
  
    position: relative;
    z-index: 1;
    border-radius: 5px;
  }
  
  .btn-fecha{
    height: 25px;
    float: right;
    cursor: pointer;
  }

  .info{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    font-family: 'Cormorant Infant', serif;
    font-size: 40px;
  }

                    /* Tela de login */
 
                    
.img-login{
    background-image: url('../img/criacao-renaissance.jpg');
    width: 100%;
    height: 520px;
    background-repeat: no-repeat;
    background-position:  0 10vh;
    margin: -60px;
}

.fundo-login{
    background-color: #ffffff9e;
    border-radius: 5px;
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 20px 20px;
    font-family: 'Cormorant Infant', serif;
    font-size: 70px;
    margin: -410px;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 140px 0;
}

.btn1 button{
    background-color:#809097;
}

.input1 input{
    background: #C3BCA9;
}