body{
    padding: 0;
    margin: 0;
    background-color: #000000;
}

.container{
    width: 80%;
    margin: 0 auto;
}

::-webkit-scrollbar{
    width: 0;
}

#scrollpath{
    position: fixed;
    top: 0;
    right: 0;
    width: 6px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 6px;
    border-radius: 5px;
    background: linear-gradient(to top, #ff0000, #db6f6b);
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0%, 100%{
        filter: hue-rotate(0deg);
    }

    100%{
        filter: hue-rotate(360deg);
    }
}

#progressbar:before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ff0000, #db6f6b);
    filter: blur(8px);
}

#progressbar:after{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ff0000, #db6f6b);
    filter: blur(20px);
}

.menu{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    background-color: #000000;
    cursor: pointer;
  }
  
.menu  li {
    float:left;
  }
  
.menu  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 30px;
    font-family: 'Cormorant Infant', serif;
    font-size: 25px;
  }
  
.menu  li a:hover:not(.active) {
    background-color: rgba(190, 49, 49, 0.418);
  }

.box {
    display: flex;
    justify-content: space-evenly;
}

.boxL{
    margin: 60px 0;
    padding: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap,;
    justify-content: space-evenly;
    color: white;
    width: 100%;
}

.text1{
    display: flex;
    flex-direction: column;
}

.div_texto1{
    width: 100%;
    height: 10%;
    margin: 20px 0;
    text-align: left;
    position:relative;
    top:0;
    transition: all 0.3s ease-in-out
}

.text2{
    display: flex;
    margin: 40px -30px;
    height: 50%;
    width: auto;
}

.div_texto2{
    width: 100%;
    height: 10%;
    margin: 65px -80px;
    text-align: left;
    position:relative;
    top:0;
    transition: all 0.3s ease-in-out
}

.div_texto1:hover {
    top:-5px;
   transition: all .5s ease-in-out
}

.div_texto2:hover {
    top:-5px;
   transition: all .5s ease-in-out
}

.span{
    font-family: 'Cormorant Infant', serif;
    font-size: 35px;
    position:relative;
    top:0;
    transition: all 0.3s ease-in-out
}

span:hover {
    top:-8px;
   transition: all .3s ease-in-out
}

.span-trasparece{
    color: rgba(255, 255, 255, 0.123);
    font-weight: bolder;
    margin: 20px -80px;
    padding: auto;
    font-size: 40px;
}

.boxC{
    width: 100%;
    height: 600px;
    background-size: 350px;
    background-image: url('../img/angelo-lateral.jpg');
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    position: relative;
    transition: 0.9s;
    margin: 60px 90px;
    color: #ffffff25;
    opacity: 0.5;
}

.boxC .text5{
    font-family: 'Cormorant Infant', serif;
    font-size: 35px;
    text-align: center;
    color: snow;
}

.boxC:hover {
    opacity: 0.8;
    transition: 1s;
    background-image: url('../img/davi-corpo.jpeg');
}

.boxR{
    margin: 60px 0;
    padding: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
    color: white;
    width: 90%;
}

.boxR:hover {
    top:-4px;
   transition: all .2s ease-in-out}


.div_texto3{
    width: 100%;
    height: 10%;
    margin: 65px -80px;
    text-align: right;
    position:relative;
    top:0;
    transition: all 0.3s ease-in-out
}

.div_texto4{
    width: 100%;
    height: 10%;
    margin: 20px -80px;
    text-align: right;
    position:relative;
    top:0;
    transition: all 0.3s ease-in-out
}

.div_texto3:hover {
    top:-5px;
   transition: all .5s ease-in-out
}

.div_texto4:hover {
    top:-5px;
   transition: all .5s ease-in-out
}

.text3 .span-trasparece{
    color: rgba(255, 255, 255, 0.123);
    font-weight: bolder;
    margin: 30px 40px;
    padding: auto;
    font-size: 40px;
}

.text4 .span-trasparece{
    color: rgba(255, 255, 255, 0.123);
    font-weight: bolder;
    margin: 50px 20px;
    padding: auto;
    font-size: 40px;
}


                /* rodapé */

footer{
    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    font-family: 'Cormorant Infant', serif;
    font-size: 20px;
}

footer a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}
