body{
    padding: 0;
    margin: 0;
    background-color: #000000;
}

html{
    scroll-behavior: smooth;
}

.container{
    width: 80%;
    margin: 0 auto;
}

::-webkit-scrollbar{
    width: 0;
}

#scrollpath{
    position: fixed;
    top: 0;
    right: 0;
    width: 6px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}

#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 6px;
    border-radius: 5px;
    background: linear-gradient(to top, #ff0000, #db6f6b);
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0%, 100%{
        filter: hue-rotate(0deg);
    }

    100%{
        filter: hue-rotate(360deg);
    }
}

#progressbar:before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ff0000, #db6f6b);
    filter: blur(8px);
}

#progressbar:after{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #ff0000, #db6f6b);
    filter: blur(20px);
}

.menu{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
    background-color: #000000;
  }
  
.menu  li {
    float:left;
  }
  
.menu  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0 30px;
    font-family: 'Cormorant Infant', serif;
    font-size: 28px;
  }
  
.menu  li a:hover:not(.active) {
    background-color: rgba(190, 49, 49, 0.418);
  }
  


                    /* menu lateral */

.navbar{
    width: 97%;
    margin-right: 20px;
    margin-top: 200px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    list-style-type: none;
    transition:all 0.9s ease;
  }

.navbar ul:hover{
    transform: scale(1.3);
}

.navbar li {
    margin: 8px;
}
  
.navbar li a {
    color: white;
    text-decoration: none;
    transition:all 0.9s ease;
  }
  
.navbar  li:hover {
    border-radius: 5px;
    background-color: rgba(190, 49, 49, 0.418);
    font-size: 20px;
    transform: scale(1.1);
  }

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

            /* Tela sculpture */

.sculpture{
    margin: 0;
    padding: auto;
}

.sculpture .titulo {
    color: white;
    font-family: 'Cormorant Infant', serif;
    font-size: 140px;
}

.sculpture .alinha-titulo{
    margin: 120px -150px;
    padding: auto;
    position: absolute;
}

.sculpture .traparencia{
    margin: 200px 100px;
    padding: auto;
    position: absolute;
    color: rgba(255, 255, 255, 0.274);
}

.box2 {
    background-image: url('../img/VenusdeMilo.jpg');
    width: 100%;
    height: 500px;
    background-size: 350px;
    background-repeat: no-repeat;
    align-items: center;
    margin: 60px;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}

.box1{
    color: white;
    text-align: right;
    width: 60%;
    align-items: flex-start;
    margin: 400px auto;
    line-height: 23px;
    font-size: 18px;
}

.box3{
    color: white;
    text-align: left;
    width: 80%;
    margin: 150px 100px;
    line-height: 23px;
    font-size: 18px;
}

.sculpture .destaque{
    display: flex;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 15px;
}

                 /* tela art gotica */

.gotica{
    width: 100%;
    height: 600px;
    margin: -250px auto;
    padding: 0;
}

.gotica .titulo {
    color: white;
    font-family: 'Cormorant Infant', serif;
    font-size: 140px;
}

.gotica .alinha-titulo{
    margin: 280px -100px;
    padding: auto;
    position: absolute;
}

.gotica .traparencia{
    margin: 200px 150px;
    padding: auto;
    position: absolute;
    color: rgba(255, 255, 255, 0.274);
}

.box4{
    color: white;
    text-align: left;
    width: 50%;
    line-height: 23px;
    font-size: 18px;
}

.box5{
    color: white;
    text-align: justify;
    width: 80%;
    line-height: 23px;
    font-size: 18px;
    margin: 30px 40px;
}

.box6{
    background-image: url('../img/gotica.jpg');
    width: 100%;
    height: 500px;
    background-size: 350px;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
}

.gotica .destaque{
    display: flex;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 15px;
}

                 /* tela barroco */

.barroco{
    margin: 400px auto;
    padding: auto;
}

.barroco .titulo {
    color: white;
    font-family: 'Cormorant Infant', serif;
    font-size: 140px;
}

.barroco .alinha-titulo{
    margin: 380px 150px;
    padding: auto;
    position: absolute;
}

.barroco .traparencia{
    margin: 500px -50px;
    padding: auto;
    position: absolute;
    color: rgba(255, 255, 255, 0.274);
}

.box7{
    background-image: url('../img/barroco.jpg');
    width: 100%;
    height: 400px;
    background-size: 500px;
    background-repeat: no-repeat;
    align-items: center;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    margin: 50px 0;
}

.box8{
    color: white;
    text-align: justify;
    width: 50%;
    line-height: 23px;
    font-size: 18px;
    margin: 70px 20px;
}

.barroco .destaque{
    display: flex;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 15px;
}

            /* tela romanticism */

.romanticism{
    margin: 0;
    padding: auto;
}

.romanticism .titulo {
    color: white;
    font-family: 'Cormorant Infant', serif;
    font-size: 140px;
}

.romanticism .alinha-titulo{
    margin: 40px -70px;
    padding: auto;
    position: absolute;
}

.romanticism .traparencia{
    margin: -40px 0;
    padding: auto;
    position: absolute;
    color: rgba(255, 255, 255, 0.274);
}

.box9{
    background-image: url('../img/romanticism.jpg');
    width: 100%;
    height: 500px;
    background-size: 400px;
    background-repeat: no-repeat;
    background-position: center 0; 
    margin: 0 200px;
}

.box10{
    color: white;
    text-align: justify;
    width: 40%;
    line-height: 23px;
    font-size: 18px;
    
}

.box11{
    color: white;
    text-align: justify;
    width: 50%;
    line-height: 23px;
    font-size: 18px;

}

.romanticism .teste{
    margin: -80px 0;
    display: flex;
    justify-content: space-around;
    height: 400px;
}

             /* tela de realism */

.realism{
    margin:0 auto;
    padding: auto;
}

.realism .titulo {
    color: white;
    font-family: 'Cormorant Infant', serif;
    font-size: 140px;
}

.realism .alinha-titulo{
    margin: -350px 80px;
    padding: auto;
    position: absolute;
}

.realism .traparencia{
    margin: -420px 360px;
    padding: auto;
    position: absolute;
    color: rgba(255, 255, 255, 0.274);
}

.realism .teste{
    margin: 0;
    padding: 100px 0;
    display: flex;
    justify-content: space-around;
}

.box13{
    color: white;
    text-align: justify;
    width: 60%;
    line-height: 23px;
    font-size: 18px;
    margin: 60px;
}

.box14{
    background-image: url('../img/realismo.jpg');
    width: 100%;
    height: 500px;
    background-size: 550px;
    background-repeat: no-repeat;
    background-position: center 0; 
    margin: 0;
}

.box12{
    color: white;
    text-align: justify;
    width: 100%;
    line-height: 23px;
    font-size: 18px;
    margin: -180px 400px;
    padding: auto;
}

                 /* Tela nouveau */

.nouveau{
    margin: 200px 0;
    padding: auto;
}

.nouveau .titulo {
    color: white;
    font-family: 'Cormorant Infant', serif;
    font-size: 140px;
}

.nouveau .alinha-titulo{
    margin: 300px 160px;
    padding: auto;
    position: absolute;
}

.nouveau .traparencia{
    margin: 200px 100px;
    padding: auto;
    position: absolute;
    color: rgba(255, 255, 255, 0.274);
}

.nouveau .boxalinha{
    display: flex;
    justify-content: space-around;
    
    flex-direction: row;
    align-items: left;
    margin: 0;
}

.box15{
    background-image: url('../img/nouveau.jpg');
    width: 100%;
    height: 500px;
    background-size: 250px;
    background-repeat: no-repeat;
    margin: 0 -100px;
}

.box16{
    color: white;
    text-align: left;
    width: 40%;
    line-height: 23px;
    font-size: 18px;
    margin: 0 10px;
}

.box17{
    color: white;
    text-align: justify;
    width: 30%;
    line-height: 23px;
    font-size: 18px;
    margin: 30px -100px;
}

                    /* tela deco */

.deco{
    margin: 200px 0;
    padding: auto;
}

.deco .titulo {
    color: white;
    font-family: 'Cormorant Infant', serif;
    font-size: 140px;
}

.deco .alinha-titulo{
    margin: 260px 100px;
    padding: auto;
    position: absolute;
}

.deco .traparencia{
    margin: 200px -150px;
    padding: auto;
    position: absolute;
    color: rgba(255, 255, 255, 0.274);
}

.deco .boxalinha{
    display: flex;
    justify-content: space-evenly;
}

.box19{
    background-image: url('../img/deco.jpeg');
    width: 100%;
    height: 300px;
    background-size: 350px;
    background-repeat: no-repeat; 
    margin: 0 50px;
}

.box18{
    color: white;
    text-align: right;
    width: 80%;
    line-height: 23px;
    font-size: 18px;
    margin: 0 ;
}

.box20{
    color: white;
    text-align: left;
    width: 90%;
    line-height: 23px;
    font-size: 18px;
    margin: 0;
}

.deco .destaque{
    display: flex;
    margin: 10px;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-size: 15px;
}

                /* rodapé */

footer{
    width: 100%;
    height: 50px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px;
    font-family: 'Cormorant Infant', serif;
    font-size: 30px;
    display: flex;
    justify-content: space-evenly;
}

footer a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}